
.features {
  display: flex;
  margin-bottom: 48px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
 /* padding: 25px;
  margin: 30px;*/
  }

.feature p {
    line-height: 1.75em;
    font-size: 17px;
    color: #424648;
    font-weight: 300;
}
.feature h3 {

    font-size: 36px;
    line-height: 1.16em;
    margin-bottom: 24px;
    font-weight: 600;
}

.features .feature {
    width: 100%;
    max-width: 408px;
    margin-bottom: 48px;
    padding: 15px;
  margin: 20px;
}


/*
.animateIn {
    animation: animateIn .6s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

}
.div {
    display: block;
}
*/
